{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LolStats</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    
    <nav class="navbar sticky-top bg-body-secondary py-3">
        <div class="container-fluid">
          <a class="navbar-brand">League of Stats</a>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search summoner" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
          </form>
        </div>
    </nav>
    <header class="container-fluid bg-body-tertiary py-4">
      <div class="row flex-column flex-lg-row justify-content-center">
        <div class="col-auto" id="summoner-icon">
          <img src="{% static 'img/3150.png' %}" alt="">
        </div>
        <div class="col-4" id="summoner-general-info">
          <h2 id="summoner-name" class="d-block"> 2 Qiyana 1 Cup</h2>
          <span id="summoner-level" class="d-block">Level 638</span>
        </div>
      </div>
    </header>
    <div class="container-fluid">
      <div class="row p-4 mt-4">
        <aside class="col-4">
          <div class="row py-2">
            <h5>Clasificatoria en solitario</h5>
            <div class="col-auto">
              <img src="{% static 'img/6.png' %}" alt="">
            </div>
            <div class="col">
              <h6>Diamante 4</h6>
              <p>88V 85L</p>
              <p>WinRate 51%</p>
            </div>
          </div>
          <div class="row py-2">
            <h5>Clasificatoria en flexible</h5>
            <div class="col-auto">
              <img src="{% static 'img/6.png' %}" alt="">
            </div>
            <div class="col">
              <h6>Diamante 1</h6>
              <p>63V 44L</p>
              <p>WinRate 59%</p>
            </div>
          </div>
          <div class="row py-2">
            <h5>Most played friends:</h5>
          </div>
        </aside>
        <article class="col-6">
          <div class="row">
            <div class="row">
              <ul class="list-unstyled d-flex flex-row justify-content-start">
                <li class="pe-2">Todos</li>
                <li class="px-2">Clasificatoria Solo Q</li>
                <li class="px-2">Clasificatoria Flex</li>
              </ul>
            </div>
            <div class="col" id="stats">stast</div>
            <div class="col" id="champions">champs</div>
          </div>
          <div class="row">
            <div class="col game">
              <span>ranked flex</span>
              <span>derrota</span>
              <span>26 40</span>
            </div>
            <div class="col info"></div>
            <div class="col participants"></div>
          </div>
        </article>
      </div>
    </div>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
</body>
</html>